*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
background-color: rgb(187, 187, 187);
}
header{
    background-color:  #2874f0;
}
.navbar{
    height: 60px;
    display: flex;
    align-items: center;
}
.logo img{
    height: 23px;
    width: 80px;
    padding: 0 25px;
    }
ul{
  display: flex;
}
.navbar ul li a{
    text-decoration: none; 
    height: 60px;
    border:none;
    padding: 20px 30px;
    color: rgb(200, 199, 199);
    font-weight: 500;
}
.navbar ul li a:hover{
    
    color: white;
}
ul li{
    list-style: none;
}
.input1{
width: 400px;
height: 35px;
border:none;
padding-left: 10px;
}
.search-btn{    
    padding: 3px 10px;
    border: 2px solid white;
    margin-right: 90px;
    background-color: white;
    color:#2874f0 ;
    font-size: 20px;
}
.login-btn{
    background-color: white;
    padding: 5px 25px ;
    color:#2874f0 ;
    border: none;
    font-size: 18px;
    font-weight: 650;
    border-radius: 2px;
margin-right: 50px;
}
.cart-icon{
    color:white ;
    font-size: 25px;
    background-color:#2874f0 ;
    border: none;
}
.cart-btn{
    background-color:#2874f0 ;
    color: white;
    border: none;
    font-size: 18px;
    padding-left: 5px;
}
.s-img {
    margin: 10px 125px;
}
.section-heading{
    margin-bottom: 2px;
    margin-left: 10px;
    background-color: white;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 2px;
    margin-right: 10px;

}
.section-heading h2{
    font-weight: 500;
}
.section-1{
    background-color: white;
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left :10px; 
}
.card-img img{
    width: 220px;
    height: 200px;
    margin-left: 25px;
    margin-bottom: 30px;
}
.card{
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
}

.line{
    text-align: center;
    line-height: 25px;

}
.line p:nth-of-type(2){
color: #388e3c;
}
.line p:nth-of-type(3){
color:#555;
}
.card-img img:nth-of-type(1):hover{
    width:225px ;
    height: 220px;

    transition: 0.5s;
}






