    *{
        margin: 0cm;
        padding: 0cm;
        font-family: sans-serif;
    }

/* ---------------------- utilitis ----------------------- */

.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ----------------------- navbar ---------------------- */


    header{
        background-color:#047bd5;
    }
    .logo img{
        width: 80px;
        height: 23px;
        padding: 0 25px;
    }
    
    .navbar{
        display: flex;
        align-items: center;
    }

    .navbar ul{
        height: 70px;
        display: flex;
        align-items: center;
    }
    .navbar ul li a{
    text-decoration: none;
    color: rgb(219, 219, 219);
    padding: 0 25px;
    font-weight: lighter;
    }
    .navbar ul li a:hover{
 color: white;
    }
    .navbar ul li{
list-style: none;
    }
    .input1{
        width: 400px;
        height:40px;
        padding-left: 10px;
border-radius:0px ;
border: transparent;
    }
    .d-input{
        margin-left: 50px
    }
.search-btn{
    background-color:white;
    color:#047bd5;
    padding: 3px 15px 2px 15px;
    font-size: 25px;
    border: 2px solid white;
}
.search-btn:hover{
  background-color: rgb(219, 219, 219);
  border-color: rgb(219, 219, 219);
  cursor: pointer;
}
.login-btn{
    margin-left: 60px;
    padding:7px 40px ;
    color:#047bd5 ;
    font-weight: bolder;
    font-size: 17px;
    border: none;
    border-radius: 2px;
}
.cart-btn{
    margin-left: 3px;
    background-color:#047bd5 ;
    color:white;
    border: none; 
    padding:7px 0px ;
    font-size:18px ;
    margin-top: 7px;
    font-weight: 300;

}
.cart-icon{
    margin-left: 40px;
    font-size: 25px;
    background-color: #047bd5;
    border: none;
    color: white;
    margin-top: 10px;
}

/* --------------------- Main section-1 ------------------------ */
main{
    background-color: rgb(235, 235, 235);
}

.s-img{
    /* margin: auto; */
width: 80vw;
margin: 10px auto;
}
.section-heading{
    background-color: white;
    height: 60px;
    margin-top: 10px;
   margin-left: 10px;
   margin-right: 10px;
    margin-bottom: 1px;
}
.section-heading h2{
    font-family: sans-serif;
    font-weight: 550;
    height:60px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 22px;
    margin-left: 20px;
    
}

.section-1{
    background-color: white;
   margin: 0 10px;
   margin-bottom: 0;
}
.section-2{
    background-color: white;
    margin: 0 10px;
    margin-bottom: 0;
    border-bottom: 10px solid rgb(235, 235, 235);
    margin-top: 2px;

}
.card{
    margin-left: 20px;
    display: inline-block;
    width: 225px;
    height: 250px;
    margin-top: 20px;
}
.card-2{
    margin-left: 20px;
    display: inline-block;
    width: 225px;
    height: 250px;
    margin-top: 20px;
padding-bottom: 40px;
}
.card-img img{
    width: 200px;
}
.card .line{
    line-height: 25px;
}
.line p:nth-of-type(1){
    font-weight: 700;
    text-align: center;
}
.line p:nth-of-type(2){
    color:#388e3c ;
    font-size: 15px;
    text-align: center;
    
}
.line p:nth-of-type(3){
    font-size:15px ;
    color: rgb(151, 151, 151);
    text-align: center;
}
.card-img:hover{
    cursor: pointer;
    background-color:white;
    border:3px solid white  ;
}




    /* ------------------------  footer --------------------------- */
    

    .footer{
        background-color:#047bd5;
        color: white;
        height: 80px;
        margin-top: 0;
    }
    
